/* La stilizzazione di tutte le componenti avverà all'interno di questo file di css: */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-card{
  width: 10%;
  height:200px;
  border-radius: 10px;
  background-color: gray;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:10px
  
}

.image-box-card{
  width:50%;
}

.App{
  background:linear-gradient(
    90deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
  );
  background-size: 400% 400%;
  animation: gradient 1s ease;  
}
@keyframes gradient{
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 0% 50%;
}
100%{
  background-position: 0% 50%;
}
}
